@import "tailwindcss";

:root {
  --background: #f0f2f0;
  --foreground: #266c26;
  --primary: #238732;
  /* --primary-light: #086916; */
  --primary-light: #113d17;
  --primary-foreground: #ffffff;
  --muted: #e8ece8;
  --muted-foreground: #5a6b5a;
  --border: #d4dcd4;
  --card: #ffffff;
  --card-foreground: #52d918;
  --destructive: #dc2626;
  --success: #2a6d2f;
  --warning: #d97706;
  --accent: #d4edda;
  --sidebar: #1a2e1a;
  --sidebar-foreground: #e8ece8;
  --sidebar-muted: #2d4a2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-accent: var(--accent);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-muted: var(--sidebar-muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    border-color: var(--border);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
